<<<<<<< HEAD
            @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
            @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
            * {
                margin: 0;
                padding: 0;
                list-style: none;
                text-decoration: none;
            }

            :root {
                --font-primary: "Baloo Da 2", serif;
                --font-secundary: "Josefin Slab", serif;
                --font-action: "Muli";
                --font-button: "Roboto", serif;
            }

            .hamburguer {
                /* background-color: red; */
                width: 2rem;
                height: 2rem;
                position: fixed;
                z-index: 100;
                right: 2rem;
                top: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                cursor: pointer;
            }

            .show-menu.hamburguer {
                right: 18rem;
            }

            .show-menu .hamburguer {
                right: 16rem;
            }

            .line {
                width: 100%;
                height: 0.1rem;
                background-color: #fff;
                box-shadow: 0.1rem 0.1rem 1px #000;
                transition: transform 1s;
            }

            .show-menu #line1 {
                transform: rotate(47deg) translate(0.3rem, 0.45rem);
            }

            .show-menu #line2 {
                opacity: 0;
                visibility: hidden;
            }

            .show-menu #line3 {
                transform: rotate(-46deg) translate(0.3rem, -0.45rem);
            }

            .hamburguer span {
                position: absolute;
                left: 3rem;
                height: 2rem;
                width: 6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #D66D75;
                color: #ffffff;
                font-family: var(--font-action);
                opacity: 0;
            }

            .hamburguer span::before {
                content: "";
                position: absolute;
                border-right: 0.5rem solid #D66D75;
                border-top: 0.5rem solid transparent;
                border-left: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                left: -1rem;
            }

            .show-menu .hamburguer:hover span {
                opacity: 1;
            }

            header {
                width: 100%;
                height: 100vh;
                overflow: hidden;
                /*Não passar o tamanho da tela*/
                position: relative;
            }

            .img-wrapper {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 8);
            }

            .img-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /*Para a imagem acompanhar */
                opacity: 0.4;
                animation: zoom 5s;
            }

            @keyframes zoom {
                0% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(1);
                }
            }

            .banner {
                position: absolute;
                top: 30%;
                left: 15%;
            }

            .banner h1 {
                color: #ffffff;
                font-size: 3rem;
                font-family: var(--font-primary);
                font-weight: 200;
                text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
                line-height: 2.5rem;
                margin-bottom: 2rem;
                opacity: 0;
                animation: moveBanner 1s 0.4s forwards;
            }

            .banner h2 {
                color: #ffffff;
                font-size: 2.5rem;
                font-family: var(--font-primary);
                font-weight: 200;
                line-height: 2rem;
                text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
                margin-bottom: 1rem;
                opacity: 0;
                animation: moveBanner 1s 0.5s forwards;
            }

            .banner p {
                font-family: var(--font-secundary);
                color: #fff;
                font-size: 2rem;
                text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
                margin-bottom: 2rem;
                opacity: 0;
                animation: moveBanner 1s 0.7s forwards;
            }

            .banner button {
                font-family: var(--font-button);
                color: #fff;
                font-size: 1rem;
                letter-spacing: .1rem;
                background: #D66D75;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom, #E29587, #D66D75);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to top, #E29587, #D66D75);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                padding: 1rem 2rem;
                border: none;
=======
            @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
            @import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

            * {
                margin: 0;
                padding: 0;
            }
            
            header {
                width: 100%;
                height: 100vh;
                overflow: hidden;  /*Não passar o tamanho da tela*/
                position: relative;
            }
            
            .img-wrapper {
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,8);
            }
            
            .img-wrapper img {
                width: 100%;
                height: 100%;
                object-fit: cover; /*Para a imagem acompanhar */
                opacity: 0.4;
                animation: zoom 25s;
            }

            @keyframes zoom{
                0%{
                    transform: scale(1.5);
                }
                100%{
                    transform: scale(1);

                }
            }

            .banner{
                position: absolute;
                top:30%;
                left: 15%;
            }
            .banner h1{
                color:#ffffff;
                font-size:3.5rem;
                font-family: 'Baloo Da 2', serif;
                letter-spacing: .2rem;
                font-weight: 200;
                text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
                line-height: 3rem;
                animation: moveBanner 1s 0.4s forwards;
                opacity: 0;
            }
            .banner h2{
                color:#ffffff;
                font-size:3rem;
                font-family: 'Baloo Da 2', serif;
                font-weight: 200;
                text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
                margin-bottom: 1rem;
                opacity: 0;
                animation: moveBanner 1s 0.5s forwards;

            }
            .banner p{
                font-family: 'Josefin Slab', serif;
                color:#fff;
                font-size: 2.5rem;
                text-shadow: .2rem .2rem rgba(0,0,0,.4);
                margin-bottom: 1rem;
                animation: moveBanner 1s 0.7s forwards;
                opacity: 0;
            }
            .banner button {
                font-family: 'Mulish',serif;
                color: #fff;
                font-size:1rem;
                text-transform: uppercase;
                letter-spacing: .1rem;
                background: #403A3E;  
                background: -webkit-linear-gradient(to right, #BE5869, #403A3E);
                background: linear-gradient(to left, #BE5869, #a1989e); 
                padding: 1rem 3rem ;
                border:none;
>>>>>>> 5b5ebf9b51169816f29077c6bd028a981485d101
                border-radius: 5px;
                cursor: pointer;
                opacity: 0;
                animation: moveBanner 1s 0.9s forwards;
<<<<<<< HEAD
            }

            @keyframes moveBanner {
                0% {
                    transform: translateY(10rem) rotateY(-30deg);
                }
                100% {
                    transform: translateY(0) rotateY(0);
                    opacity: 1;
                }
            }

            .sidebar {
                width: 20rem;
                height: 100vh;
                background-color: #fff;
                position: fixed;
                top: 0;
                right: -20rem;
                transition: all 1s;
                z-index: 80;
            }

            .show-menu .sidebar {
                right: 0;
            }

            .menu {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .menu-item {
                text-align: center;
                margin-bottom: .5rem;
            }

            .menu-link {
                font-family: var(--font-action);
                font-size: 2rem;
                color: #555;
                transition: color 1s;
            }

            .menu-link:hover {
                color: #D66D75;
            }

            .social-media {
                position: absolute;
                bottom: 3rem;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }

            .social-media i {
                background-color: #D66D75;
                color: rgba(255, 255, 255, 1);
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: background-color 1s;
            }

            .social-media i:hover {
                background-color: #662727;
=======

            }
      
            @keyframes moveBanner{
                0%{
                    transform: translateY(10rem) rotateY(-30deg);
                }
                100%{
                    transform: translateY(0) rotateY(0);
                    opacity: 1;
                }
>>>>>>> 5b5ebf9b51169816f29077c6bd028a981485d101
            }